
<h1>User: <%= @user.first_name %></h1>


<h2>Projects Backed:</h2>
  <ul>
  <% @user.backed_projects.uniq.each do |project| %>
    <li><%= project.title %></li>
  <% end %>
  </ul>


<h2>Total Amount Pledged: <%= @user.sum_of_pledges %></h2>

<h2>Projects:</h2>
  <ul>
    <% @user.projects.each do |project| %>
      <li><%= project.title %></li>
    <% end %>
  </ul>
